..section-search input {
  font-size: 18px !important;
  transition: 0.1px !important;
}

.section-search input{
    position: relative !important;
    display: inline-block !important;
    box-sizing: border-box !important;
    transition: .5s !important;
}
.section-search input[type="text"]{
    background: #fff !important;
    width: 60% !important;
    height: 50px !important;
    border: none !important;
    outline: none !important;
    padding: 0 30px !important;
    border-radius: 25px 0 0 25px;
}

.section-search input[type="text"]:focus {
	border-color: #2ecc71 !important;
	padding: 5px 20px !important;
}

.section-search input[type="submit"]{
    position: relative !important;
    left: -5px !important;
    border-radius: 0 25px 25px 0 !important;
    width: 150px !important;
    height: 50px !important;
    border: none !important;
    outline: none !important;
    cursor: pointer !important;
    background: #ffc107 !important;
    color: #fff !important;
}

.section-search input[type="submit"]:hover{
	background: #ff5722 !important;
}

.section-follow .fa-4x {
    margin: 5px 10px;
}

.nav-wrapper li a{
	font-size: 16px !important;
}

